# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env

#data
videos_sample/
volleyball_tracking_annotation/
volleyball-detections/
*.mp4
videos/
crea*

# IDE
.vscode/
.idea/
*.swp
*.swo
.kiro/

# Jupyter Notebooks
.ipynb_checkpoints/

# Training outputs (large files - don't upload to GitHub)
checkpoints/
saved_best_model/
*.pth
*.pt
*.ckpt
*.tar

# Kaggle
/kaggle/

# Data files (usually too large for GitHub)
# *.pkl
*.h5
*.hdf5
*.ipynb
kaggle_notebooks/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Deploy - local files (not for GitHub)
deploy/create_videos.py
deploy/videos/
